<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
  
    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <%- include('../partials/adminHeader') %>
            <!-- Page Body start -->
            <div class="page-body-wrapper">
              <%- include('../partials/adminSidebar') %>
  
  
                    <div class="page-body">
  
                        <!-- New Product Add Start -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-8 m-auto">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-header-2">
                                                        <h5>Product Information</h5>
                                                    </div>
                                                    <form class="theme-form theme-form-2 mega-form" action="" enctype="multipart/form-data" role="form" method="post">
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Product
                                                                Name</label>
                                                            <div class="col-sm-9">
                                                                <input  name="title" class="form-control"
                                                                    type="text" placeholder="Product Name">
                                                            </div>
                                                        </div>
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Category</label>
                                                            <div class="col-sm-9">
                                                                <select  name="category"
                                                                    class="js-example-basic-single w-100" name="state">
                                                                    <option disabled selected>Select category</option>
                                                                    <% allCategories.forEach(category=> { %>
                                                                        <option >
                                                                            <%= category.name%>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
  
                                                        
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Brand</label>
                                                            <div class="col-sm-9">
                                                                <input  name="brand" class="form-control"
                                                                    type="text" placeholder="Brand name">
                                                            </div>
                                                        </div>
  
                                                         <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Model</label>
                                                            <div class="col-sm-9">
                                                                <input  name="model" class="form-control"
                                                                    type="text" placeholder="Model name">
                                                            </div>
                                                        </div>
  
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Regular Price</label>
                                                            <div class="col-sm-9">
                                                                <input  name="regular_price" class="form-control"
                                                                    type="text" placeholder="Enter regular price">
                                                            </div>
                                                        </div>
  
                                                        
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Sales Price</label>
                                                            <div class="col-sm-9">
                                                                <input  name="sales_price" class="form-control"
                                                                    type="text" placeholder="Enter sales price">
                                                            </div>
                                                        </div>
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                                            <div class="col-sm-9">
                                                                <input  name="quantity" class="form-control"
                                                                    type="text" placeholder="Quantity of products">
                                                            </div>
                                                        </div>
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="form-label-title col-sm-3 mb-0">Description</label>
                                                            <div class="col-sm-9">
                                                                <textarea class="form-control" rows="4"
                                                                    name="description"
                                                                    placeholder="Type here"></textarea>
                                                            </div>
                                                        </div>
  
                                                        <div class="mb-4 row align-items-center">
                                                          <label class="col-sm-3 col-form-label form-label-title">Images</label>
                                                          <div class="col-sm-9">
                                                              <input type="file" id="files" name="image" accept="image/*" multiple />
                                                              <div class="image-preview"></div>
                                                          </div>
                                                      </div>
  
                                                        <div class="col-xxl-4">
                                                            <button type="submit"
                                                                class="btn text-white theme-bg-color">Add
                                                                Product</button>
                                                        </div>
  
                                                    </form>
                                                </div>
                                                <% if (errorMessage) { %>
                                                  <div class="alert alert-danger" role="alert">
                                                      <%= errorMessage %>
                                                  </div>
                                              <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- New Product Add End -->
  
                    </div>
                    <!-- Container-fluid End -->
            </div>
            <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->
  
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <script src="/assetsb/js/jquery-3.6.0.min.js"></script>
    <script src="/assetsb/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assetsb/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assetsb/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar simplebar js -->
    <script src="/assetsb/js/scrollbar/simplebar.js"></script>
    <script src="/assetsb/js/scrollbar/custom.js"></script>
    <!-- Sidebar js -->
    <script src="/assetsb/js/config.js"></script>        
    <!-- bootstrap tag-input js -->
    <script src="/assetsb/js/bootstrap-tagsinput.min.js"></script>
    <script src="/assetsb/js/sidebar-menu.js"></script>        
    <!-- customizer js -->
    <script src="/assetsb/js/customizer.js"></script>
  
    <!--Dropzon js -->
    <script src="/assetsb/js/dropzone/dropzone.js"></script>
    <script src="/assetsb/js/dropzone/dropzone-script.js"></script>        
    <!-- Plugins js -->
    <script src="/assetsb/js/notify/bootstrap-notify.min.js"></script>
    <script src="/assetsb/js/notify/index.js"></script>        
    <!-- ck editor js -->
    <script src="/assetsb/js/ckeditor.js"></script>
    <script src="/assetsb/js/ckeditor-custom.js"></script>        
    <!-- select2 js -->
    <script src="/assetsb/js/select2.min.js"></script>
    <!-- <script src="/assetsb/js/select2-custom.js"></script> -->
  
    <!-- sidebar effect -->
    <script src="/assetsb/js/sidebareffect.js"></script>        
    <!-- Theme js -->
    <script src="/assetsb/js/script.js"></script>
  
    <link src="path/to/croppr.css" rel="stylesheet"/>
    <script src="path/to/croppr.js"></script>
  
  
  
  
  
  
  </body>
  <style>
    input[type="file"] {
  display: block;
  }
  .imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
  }
  .pip {
  display: inline-block;
  margin: 10px 10px 0 0;
  }
  
  
  </style>
  <script>
      $(document).ready(function() {
        if (window.File && window.FileList && window.FileReader) {
          $("#files").on("change", function(e) {
            var files = e.target.files,
              filesLength = files.length;
    
            // Clear existing preview images
            $(".pip").remove();
    
            for (var i = 0; i < Math.min(filesLength, 4); i++) {
              var f = files[i];
              var fileReader = new FileReader();
              fileReader.onload = (function(e) {
                var file = e.target;
                $("<span class=\"pip\">" +
                  "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                  "<br/><span class=\"remove\" onclick=\"removeImage(this)\">Remove</span>" +
                  "</span>").insertAfter("#files");
              });
    
              fileReader.readAsDataURL(f);
            }
          });
        } else {
          alert("Your browser doesn't support the File API");
        }
      });
    
      function removeImage(element) {
        $(element).parent(".pip").remove();
        $("#files").val(""); // Clear the file input to allow selecting the same file again
      }
    </script>
    
  
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const form = document.querySelector('.mega-form');
  
          form.addEventListener('submit', function (event) {
              let isValid = true;
  
              // Reset previous error messages
              const productName = form.querySelector('input[name="title"]');
              clearError(productName);
              if (!productName.value.trim()) {
                  isValid = false;
                  showError(productName, 'Product Name is required');
              }
  
              // Validate Category
              const category = form.querySelector('select[name="category"]');
              clearError(category);
              if (!category.value || category.value === 'Select category') {
                  isValid = false;
                  showError(category, 'Please select a category');
              }
  
              // Validate Brand using regex (only letters and spaces allowed)
              const brand = form.querySelector('input[name="brand"]');
              clearError(brand);
              if (!/^[A-Za-z\s]+$/.test(brand.value.trim())) {
                  isValid = false;
                  showError(brand, 'Brand should contain only letters and spaces');
              }
  
              // Validate Model using regex (only letters, numbers, and spaces allowed)
              const model = form.querySelector('input[name="model"]');
              clearError(model);
              if (!/^[A-Za-z0-9\s]+$/.test(model.value.trim())) {
                  isValid = false;
                  showError(model, 'Model should contain only letters, numbers, and spaces');
              }
  
              // Validate Regular Price using regex (positive numbers only)
              const regularPrice = form.querySelector('input[name="regular_price"]');
              clearError(regularPrice);
              if (!/^\d+(\.\d{1,2})?$/.test(regularPrice.value.trim()) || parseFloat(regularPrice.value.trim()) < 0) {
                  isValid = false;
                  showError(regularPrice, 'Regular Price should be a positive number');
              }
  
              // Validate Sales Price using regex (positive numbers only)
              const salesPrice = form.querySelector('input[name="sales_price"]');
              clearError(salesPrice);
              if (!/^\d+(\.\d{1,2})?$/.test(salesPrice.value.trim()) || parseFloat(salesPrice.value.trim()) < 0) {
                  isValid = false;
                  showError(salesPrice, 'Sales Price should be a positive number');
              }
  
              // Validate Quantity using regex (positive integers only)
              const quantity = form.querySelector('input[name="quantity"]');
              clearError(quantity);
              if (!/^[1-9]\d*$/.test(quantity.value.trim())) {
                  isValid = false;
                  showError(quantity, 'Quantity should be a positive integer');
              }
  
              const description = form.querySelector('textarea[name="description"]');
              clearError(description);
              if (!description.value.trim()) {
                  isValid = false;
                  showError(description, 'Description Price is required');
              }
  
              if (!isValid) {
                  event.preventDefault(); // Prevent form submission if validation fails
              }
  
              const imageInput = form.querySelector('input[name="image"]');
              clearError(imageInput);
  
              // Check if any file is selected
              if (imageInput.files.length === 0) {
                  isValid = false;
                  showError(imageInput, 'Please select at least one image');
              }
  
              // Check if the number of selected files is more than 4
              if (imageInput.files.length > 4) {
                  isValid = false;
                  showError(imageInput, 'Maximum of 4 images allowed');
              }
  
              // Check if all selected files are images (supporting common image formats)
              const supportedImageFormats = ['jpg', 'jpeg', 'png']; // Add more if needed
              for (const file of imageInput.files) {
                  const fileExtension = file.name.split('.').pop().toLowerCase();
                  if (!supportedImageFormats.includes(fileExtension)) {
                      isValid = false;
                      showError(imageInput, 'Invalid file type. Only JPG, JPEG, PNG are supported.');
                      break; // Exit the loop after the first unsupported file is found
                  }
              }
  
              if (!isValid) {
                  event.preventDefault(); // Prevent form submission if validation fails
              }
          });
  
          function showError(input, message) {
              // Add the new error message
              const errorDiv = document.createElement('div');
              errorDiv.className = 'error-message';
              errorDiv.textContent = message;
              errorDiv.style.color = 'red'; // Set the text color to red
  
              const parentDiv = input.parentElement;
              parentDiv.appendChild(errorDiv);
          }
  
          function clearError(input) {
              // Remove previous error messages for the input
              const parentDiv = input.parentElement;
              const existingErrorMessages = parentDiv.querySelectorAll('.error-message');
              existingErrorMessages.forEach(errorMessage => errorMessage.remove());
          }
      });
  </script>
  



  //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++




  <body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
  
    <!-- page-wrapper start -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <%- include('../partials/adminHeader')%>
      <!-- Page Body start -->
            <div class="page-body-wrapper">
              <%- include('../partials/adminSidebar')%>
  
                    <div class="page-body">
  
                        <!-- New Product Add Start -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-8 m-auto">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-header-2">
                                                        <h5>Edit Product</h5>
                                                    </div>
                                                    <form class="theme-form theme-form-2 mega-form"
                                                        action=""
                                                        enctype="multipart/form-data" role="form" method="post">
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Product
                                                                Name</label>
                                                            <div class="col-sm-9">
                                                                <input  id="title" name="title" class="form-control"
                                                                    type="text" value="<%= product.title %>">
                                                                    <small class="text-danger" id="titleError"></small>
                                                            </div>
                                                        </div>
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Category</label>
                                                            <div class="col-sm-9">
                                                                <select  name="category" id="category"
                                                                    class="js-example-basic-single w-100" name="state">
                                                                    <option selected> <%= product.category %></option>
                                                                    <% allCategories.forEach(category=> { %>
                                                                        <option>
                                                                            <%= category.name%>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                                <small class="text-danger" id="categoryError"></small>
                                                            </div>
                                                        </div>
  
  
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Brand</label>
                                                            <div class="col-sm-9">
                                                                <input  name="brand" class="form-control"
                                                                    type="text" id="brand" value="<%= product.brand %>">
                                                                    <small class="text-danger" id="brandError"></small>
                                                            </div>
                                                        </div>
  
                                                        
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="col-sm-3 col-form-label form-label-title">Model</label>
                                                            <div class="col-sm-9">
                                                                <input  name="product_type" class="form-control"
                                                                    type="text" id="model" value="<%= product.model %>">
                                                                    <small class="text-danger" id="modelError"></small>
                                                            </div>
                                                        </div>
  
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Regular Price</label>
                                                            <div class="col-sm-9">
                                                                <input  name="regular_price" class="form-control"
                                                                    type="text" id="regular_price" value="<%= product.regular_price %>">
                                                                    <small class="text-danger" id="regular_priceError"></small>
                                                            </div>
                                                        </div>
  
                                                        
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Sales Price</label>
                                                            <div class="col-sm-9">
                                                                <input  name="sales_price" id="sales_price" class="form-control"
                                                                    type="text" value="<%= product.sales_price%>">
                                                                    <small class="text-danger" id="sales_priceError"></small>
                                                            </div>
                                                        </div>
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                                            <div class="col-sm-9">
                                                                <input  name="quantity" id="quantity" class="form-control"
                                                                    type="text" value="<%= product.quantity %>">
                                                                    <small class="text-danger" id="quantityError"></small>
                                                            </div>
                                                        </div>                                    
                                                        
  
                                                        <div class="mb-4 row align-items-center">
                                                            <label
                                                                class="form-label-title col-sm-3 mb-0">Description</label>
                                                            <div class="col-sm-9">
                                                                <textarea class="form-control" rows="4"
                                                                    name="description" id="description"
                                                                    ><%= product.description %></textarea>
                                                                    <small class="text-danger" id="descriptionError"></small>
                                                            </div>
                                                        </div>
                                                        <div class="card-header">
                                                            <h4>Images</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="input-upload">
                                                                <div class="d-flex"> 
                                                                    <% for(var i=0;i<product.images.length;i++){ %>
                                                                        <img src="/productImages/<%= product.images[i] %>" alt="<%= product.images[1] %>" width="m-auto" height="150px">
                                                                        <div><a class="btn-sm text  btn-danger" href="/admin/delete-image/<%=product._id%>/<%= product.images[i]%>" onclick="return confirm('This action is going to delete the selected image.')">X</a></div>
                                                                    <% } %>
                                                                </div>
                                                                <input multiple name="image" id="image" class="form-control" type="file">
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="product_name" class="form-label"></label>
                                                            <input type="hidden" class="form-control" value="<%=product.images%>" name="imageImport">
                                                        </div>
  
                                                        <div class="col-xxl-4">
                                                            <button type="submit"
                                                                class="btn text-white theme-bg-color">Update
                                                                Product</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- New Product Add End -->
  
                    </div>
                    <!-- Container-fluid End -->
            </div>
            <!-- Page Body End -->
    </div>
    <!-- page-wrapper End -->
  
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
  
  
  </body>
  
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          const form = document.querySelector('.theme-form');
          form.addEventListener('submit', function (event) {
              // Reset previous error messages
              resetErrorMessages();
  
              // Validate each input field
              const title = document.getElementById('title');
              const category = document.getElementById('category');
              const brand = document.getElementById('brand');
              const model = document.getElementById('model');
              const regular_price = document.getElementById('regular_price');
              const sales_price = document.getElementById('sales_price');
              const quantity = document.getElementById('quantity');
              const description = document.getElementById('description');
  
              if (!validateInput(title)) {
                  setError('titleError', 'Product Name is required');
                  event.preventDefault();
              }
  
              if (!validateInput(category)) {
                  setError('categoryError', 'Category is required');
                  event.preventDefault();
              }
  
              if (!validateInput(brand)) {
                  setError('brandError', 'Brand is required');
                  event.preventDefault();
              }
  
              if (!validateInput(model)) {
                  setError('modelError', 'Model is required');
                  event.preventDefault();
              }
  
              if (!validatePrice(regular_price)) {
                  setError('regular_priceError', 'Regular Price should be a non-negative number');
                  event.preventDefault();
              }
  
              if (!validatePrice(sales_price)) {
                  setError('sales_priceError', 'Sales Price should be a non-negative number');
                  event.preventDefault();
              }
  
              if (!validateQuantity(quantity)) {
                  setError('quantityError', 'Quantity should be a non-negative integer');
                  event.preventDefault();
              }
  
              if (!validateInput(description)) {
                  setError('descriptionError', 'Description is required');
                  event.preventDefault();
              }
          });
  
          function resetErrorMessages() {
              const errorElements = document.querySelectorAll('.text-danger');
              errorElements.forEach(element => {
                  element.textContent = '';
              });
          }
  
          function setError(id, message) {
              const errorElement = document.getElementById(id);
              errorElement.textContent = message;
          }
  
          function validateInput(input) {
              return input.value.trim() !== '';
          }
  
          function validatePrice(input) {
              const price = parseFloat(input.value);
              return !isNaN(price) && price >= 0;
          }
  
          function validateQuantity(input) {
              const quantity = parseInt(input.value, 10);
              return !isNaN(quantity) && quantity >= 0;
          }
      });
  </script>
  
  <style>
  
  /* CSS for image preview size */
  .image-preview {
    max-width: 277px; /* Set the maximum width */
    max-height: 277px; /* Set the maximum height */
    margin: 5px; /* Add margin for spacing */
  }
  
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const removeButtons = document.querySelectorAll(".remove-image");
        removeButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const index = this.getAttribute("data-index");
                // Remove the image from the DOM
                this.parentNode.remove();
                // Add logic to remove the corresponding image from your data
            });
        });
  
        // Handle newly selected images
  // Inside the JavaScript code for handling newly selected images
  const newImagesInput = document.querySelector('input[name="new_images"]');
  newImagesInput.addEventListener("change", function () {
    const files = this.files;
    const imageContainer = this.nextElementSibling; // Assuming it's the div after the input
    for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();
        reader.onload = function (event) {
            // Create an image element, apply the CSS class, and append it to the container
            const img = document.createElement("img");
            img.src = event.target.result;
            img.classList.add("image-preview"); // Apply the CSS class
            imageContainer.appendChild(img);
        };
        reader.readAsDataURL(file);
    }
  });
  
    });
  </script>
  
    <!-- Modal End -->
    <script src="/assetsb/js/jquery-3.6.0.min.js"></script>
    <script src="/assetsb/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assetsb/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assetsb/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar simplebar js -->
    <script src="/assetsb/js/scrollbar/simplebar.js"></script>
    <script src="/assetsb/js/scrollbar/custom.js"></script>
    <!-- Sidebar js -->
    <script src="/assetsb/js/config.js"></script>        
    <!-- bootstrap tag-input js -->
    <script src="/assetsb/js/bootstrap-tagsinput.min.js"></script>
    <script src="/assetsb/js/sidebar-menu.js"></script>        
    <!-- customizer js -->
    <script src="/assetsb/js/customizer.js"></script>
  
    <!--Dropzon js -->
    <script src="/assetsb/js/dropzone/dropzone.js"></script>
    <script src="/assetsb/js/dropzone/dropzone-script.js"></script>        
    <!-- Plugins js -->
    <script src="/assetsb/js/notify/bootstrap-notify.min.js"></script>
    <script src="/assetsb/js/notify/index.js"></script>        
    <!-- ck editor js -->
    <script src="/assetsb/js/ckeditor.js"></script>
    <script src="/assetsb/js/ckeditor-custom.js"></script>        
    <!-- select2 js -->
    <script src="/assetsb/js/select2.min.js"></script>
    <!-- <script src="/assetsb/js/select2-custom.js"></script> -->
  
    <!-- sidebar effect -->
    <script src="/assetsb/js/sidebareffect.js"></script>        
    <!-- Theme js -->
    <script src="/assetsb/js/script.js"></script>
  
    
  
  <!-- Include this script at the end of your HTML body or in a separate script file -->
  <!-- Include this script at the end of your HTML body or in a separate script file -->
  <!-- <script>
      document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('.theme-form');
    
        form.addEventListener('submit', function (e) {
          let isValid = true;
    
          // Reset previous error messages
          document.querySelectorAll('.text-danger').forEach(function (errorElement) {
            errorElement.textContent = '';
          });
    
          // Validation for Product Name
          const title = document.getElementById('title').value.trim();
          if (!title) {
            document.getElementById('titleError').textContent = 'Product Name is required';
            isValid = false;
          }
    
          // Validation for Category
          const category = document.getElementById('category').value.trim();
          if (!category) {
            document.getElementById('categoryError').textContent = 'Category is required';
            isValid = false;
          }
    
          // Validation for Brand
          const brand = document.getElementById('brand').value.trim();
          if (!brand) {
            document.getElementById('brandError').textContent = 'Brand is required';
            isValid = false;
          }
    
          // Validation for Model
          const model = document.getElementById('model').value.trim();
          if (!model) {
            document.getElementById('modelError').textContent = 'Model is required';
            isValid = false;
          }
    
          // Validation for Regular Price
          const regularPrice = document.getElementById('regular_price').value.trim();
          if (!regularPrice) {
            document.getElementById('regular_priceError').textContent = 'Regular Price is required';
            isValid = false;
          }
    
          // Validation for Sales Price
          const salesPrice = document.getElementById('sales_price').value.trim();
          if (!salesPrice) {
            document.getElementById('sales_priceError').textContent = 'Sales Price is required';
            isValid = false;
          }
    
          // Validation for Quantity
          const quantity = document.getElementById('quantity').value.trim();
          if (!quantity) {
            document.getElementById('quantityError').textContent = 'Quantity is required';
            isValid = false;
          }
    
          // Validation for Description
          const description = document.getElementById('description').value.trim();
          if (!description) {
            document.getElementById('descriptionError').textContent = 'Description is required';
            isValid = false;
          }
    
          // Validation for Images (considering it's a file input)
          // const imageInput = document.getElementById('image');
          // const image = imageInput.files && imageInput.files.length > 0;
          // if (!image) {
          //   document.getElementById('imageError').textContent = 'Image is required';
          //   isValid = false;
          // }
    
          if (!isValid) {
            e.preventDefault(); // Prevent form submission if validation fails
          }
        });
      });
    </script> -->
    
    
  
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
<%- include('../partials/styleh') %>
<%- include('../partials/header') %>

<body>
    <div class="page-wrapper">
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">With Sidebar</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="product-details-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-gallery">
                                            <figure class="product-main-image">
                                                <img id="product-zoom" src="/productImages/<%= products.images[0] %>" alt="Product Image">
                                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                    <i class="icon-arrows"></i>
                                                </a>
                                            </figure>
                                            
                                            <div id="product-zoom-gallery" class="product-image-gallery">
                                                <% products.images.forEach((image, index) => { %>
                                                    <a class="product-gallery-item <%= index === 0 ? 'active' : '' %>" href="#" data-image="/productImages/<%= image %>" data-zoom-image="/productImages/<%= image %>">
                                                        <img src="/productImages/<%= image %>" alt="product image <%= index + 1 %>">
                                                    </a>
                                                <% }) %>
                                            </div>
                                            ><!-- End .product-image-gallery -->
                                        </div><!-- End .product-gallery -->
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6">
                                        <div class="product-details product-details-sidebar">
                                            <h1 class="product-title"><%= products.title %></h1><!-- End .product-title -->

                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                            </div><!-- End .rating-container -->

                                            <div class="product-price">
                                                <% if (products.sales_price !== products.regular_price) { %>
                                                    <span class="new-price">₹<%= products.sales_price %></span>
                                                    <span class="old-price">₹<%= products.regular_price %></span>
                                                <% } else { %>
                                                    <span class="new-price">₹<%= products.sales_price %></span>
                                                <% } %>
                                            </div><!-- End .product-price -->

                                            <div class="product-content">
                                                <p><%= products.description %></p>
                                            </div><!-- End .product-content -->

                                            <div class="details-filter-row details-row-size">
                                                <label for="size">Size:</label>
                                                <div class="select-custom">
                                                    <select name="size" id="size" class="form-control">
                                                        <option value="#" selected="selected">Select a size</option>
                                            
                                                            <option value=""><%= products.title %></option>

                                                    </select>
                                                </div><!-- End .select-custom -->
                                            </div>

                                                <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>
                                            </div><!-- End .details-filter-row -->

                                            <div class="product-details-action">
                                                <% if(products.quantity === 0){%>
                                                
                                                        <a class="btn-product " disabled><span style="color: red;">Out of Stock</span></a>
                                                    </div><!-- End .details-action-col -->
                                                <% }else{ %>
                                                    <div class="details-action-col">
                                                        <label for="qty">Qty:</label>
                                                        <div class="product-details-quantity">
                                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                                        </div><!-- End .product-details-quantity -->
    
                                                        <a href="/add-to-cart/<%=products._id%>" class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div><!-- End .details-action-col -->
                                                <% } %>
                                                <div class="details-action-wrapper">
                                                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                                    <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a>
                                                </div><!-- End .details-action-wrapper -->
                                            </div><!-- End .product-details-action -->

                                            <div class="product-details-footer details-footer-col">
                                                <div class="product-cat">
                                                    <span>Category:</span>
                                                    <%= products.category %>
                                                </div><!-- End .product-cat -->

                                                <div class="social-icons social-icons-sm">
                                                    <span class="social-label">Share:</span>
                                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                                </div>
                                            </div><!-- End .product-details-footer -->
                                        </div><!-- End .product-details -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .product-details-top -->

                            <div class="product-details-tab">
                                <ul class="nav nav-pills justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                        <div class="product-desc-content">
                                            <h3>Product Information</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                            <ul>
                                                <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                                <li>Vivamus finibus vel mauris ut vehicula.</li>
                                                <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                            </ul>

                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                        <div class="product-desc-content">
                                            <h3>Information</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                            <h3>Fabric & care</h3>
                                            <ul>
                                                <li>Faux suede fabric</li>
                                                <li>Gold tone metal hoop handles.</li>
                                                <li>RI branding</li>
                                                <li>Snake print trim interior </li>
                                                <li>Adjustable cross body strap</li>
                                                <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                            </ul>

                                            <h3>Size</h3>
                                            <p>one size</p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                        <div class="product-desc-content">
                                            <h3>Delivery & returns</h3>
                                            <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                        </div><!-- End .product-desc-content -->
                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                        <div class="reviews">
                                            <h3>Reviews (2)</h3>
                                            <div class="review">
                                                <div class="row no-gutters">
                                                    <div class="col-auto">
                                                        <h4><a href="#">Samanta J.</a></h4>
                                                        <div class="ratings-container">
                                                            <div class="ratings">
                                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                            </div><!-- End .ratings -->
                                                        </div><!-- End .rating-container -->
                                                        <span class="review-date">6 days ago</span>
                                                    </div><!-- End .col -->
                                                    <div class="col">
                                                        <h4>Good, perfect size</h4>

                                                        <div class="review-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                                        </div><!-- End .review-content -->

                                                        <div class="review-action">
                                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                        </div><!-- End .review-action -->
                                                    </div><!-- End .col-auto -->
                                                </div><!-- End .row -->
                                            </div><!-- End .review -->

                                            <div class="review">
                                                <div class="row no-gutters">
                                                    <div class="col-auto">
                                                        <h4><a href="#">John Doe</a></h4>
                                                        <div class="ratings-container">
                                                            <div class="ratings">
                                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                            </div><!-- End .ratings -->
                                                        </div><!-- End .rating-container -->
                                                        <span class="review-date">5 days ago</span>
                                                    </div><!-- End .col -->
                                                    <div class="col">
                                                        <h4>Very good</h4>

                                                        <div class="review-content">
                                                            <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                                        </div><!-- End .review-content -->

                                                        <div class="review-action">
                                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                        </div><!-- End .review-action -->
                                                    </div><!-- End .col-auto -->
                                                </div><!-- End .row -->
                                            </div><!-- End .review -->
                                        </div><!-- End .reviews -->
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .product-details-tab -->

                            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":1
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true,
                                            "dots": false
                                        }
                                    }
                                }'>
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a href="product.html">
                                            <img src="assets/images/products/product-4.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Brown paperbag waist pencil skirt</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $60.00
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #7fc5ed;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #e8c97a;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-out">Out of Stock</span>
                                        <a href="product.html">
                                            <img src="assets/images/products/product-6.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Jackets</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Khaki utility boiler jumpsuit</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="out-price">$120.00</span>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 6 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-top">Top</span>
                                        <a href="product.html">
                                            <img src="assets/images/products/product-11.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Shoes</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Light brown studded Wide fit wedges</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $110.00
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 1 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #8b513d;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #d2b99a;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/products/product-10.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Jumpers</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Yellow button front tea top</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $56.00
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 0 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->

                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.elevateZoom.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Add this line to include Magnify.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>

<script>
    $(document).ready(function() {
        // Handle image switching on thumbnail click
        $('.product-gallery-item').on('click', function(e) {
            e.preventDefault();

            // Remove 'active' class from all items
            $('.product-gallery-item').removeClass('active');

            // Add 'active' class to the clicked item
            $(this).addClass('active');

            // Update the main image source
            $('#product-zoom').attr('src', $(this).data('image'));
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Initialize jQuery Zoom
        $('#product-zoom').zoom({
            url: '/productImages/<%= products.images[0] %>', // Set the URL of the larger image
            on: 'mouseover', // Trigger zoom effect on mouseover
        });
    });
</script>
</body>


<!-- molla/product-fullwidth.html  22 Nov 2019 10:03:44 GMT -->
</html>